# =========================
# ENTORNOS VIRTUALES
# =========================
venv/
env/
.venv/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python

# =========================
# DJANGO
# =========================
db.sqlite3
staticfiles/
media/

# =========================
# MIGRACIONES COMPILADAS
# =========================
**/migrations/__pycache__/

# =========================
# ARCHIVOS DE ENTORNO
# =========================
.env
.env.*

# =========================
# BUILD / DISTRIBUCIÓN
# =========================
build/
dist/
*.egg-info/

# =========================
# LOGS
# =========================
*.log

# =========================
# EDITORES
# =========================
.vscode/
.idea/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db