# Entorno virtual
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos
db.sqlite3

# Archivos de entorno
.env

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log
